<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MiniReg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MiniReg</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" [routerLink]="['/list']">
      List all courses
    </ion-button>
    <ion-button expand="full" [routerLink]="['/search']">
      Search by Course No.
    </ion-button>
  </div>
</ion-content>
